@{
    ViewBag.Title = "Home Page";
}

<h2>Home Page</h2>

<form method="post" action="/create-person">
    <input type="text" name="Name" placeholder="Nome" required />
    <input type="number" name="Age" placeholder="Idade" required />
    <input type="text" name="HairColor" placeholder="Cor do Cabelo" required />
    <button type="submit">Salvar</button>
</form>
